<div class="note-wrapper">
    <div class="note-content">
        
        <div class="notes-header">
            <h1 title="Notes">
                <a ng-href="#/notes">NOTES ‹ </a>Note {{note.id}}
            </h1>
        </div>

        <div class="note-wrapper">
            <div class="card-notes">

                <div ng-if="icon">
                    <i class="icon icon-card {{note.icon}}"></i>
                </div>

                <div class="card" title="{{note.title}}">
                    <h2 class="h3">{{note.title}}</h2>
                    <p>{{note.description}}</p>
                </div>

                <a ng-href="#/notes/{{note.id}}/edit" class="btn btn-default">Edit Note</a>
                <a href="" class="btn btn-danger">Delete</a>
            </div>
        </div>
    
    </div>
</div>